@media all and (max-width: 1366px) {
    .cwppartner-showroom-list > li {
        width: 24%;
        width: -webkit-calc(25% - 4px);
        width: calc(25% - 4px);
    }
    .cwppartner-section-contact:after {
        left: 465px;
    }
        .cwppartner-contact-left-box {
            width: 100%;
            max-width: 465px;
        }
        .cwppartner-contact-right-box {
            width: -webkit-calc(100% - 465px);
            width: calc(100% - 465px);
        }
            .cwppartner-contact-right-box .cwppartner-box-title {
                margin-bottom: 27px;
            }
            .cwppartner-all-people-list {
                max-width: 340px;
                margin: 0;
            }
                .cwppartner-all-people-list > li {
                    width: 100%;
                    padding: 0;
                }
    .cwppartner-form {
        max-width: 428px;
    }
    .cwppartner-input-style {
        min-height: 48px;
        font-size: 14px;
        padding: 23px 16px 7px;
    }
    .cwppartner-label-effect ~ label {
        left: 16px;
        top: 17px;
        font-size: 14px;
    }
    .cwppartner-label-effect:focus ~ label,
    .has-content.cwppartner-label-effect ~ label {
        font-size: 11px;
    }
    .cwppartnerform-list > li:not(:last-child) {
        margin-bottom: 10px;
    }
        .cwppartner-form .cwppartner-select-wrap,
        .cwppartner-form .cwppartner-input-style {
            max-width: 363px;
        }
        .cwppartner-form .cwppartner-select-wrap:before {
            width: 10px;
            height: 10px;
            top: 15px;
            right: 22px;
        }
        .cwppartner-form .cwppartner-select-wrap.open:before {
            top: 20px;
        }
        .cwppartner-form .cwppartner-select-wrap:after {
            height: 46px;
            width: 46px;
        }
            .cwppartner-form .cwppartner-select {
                min-height: 48px;
                padding-left: 16px;
                font-size: 14px;
            }
            .cwppartner-form .cwppartner-select option {
                font-size: 14px;
            }
        .cwppartner-form textarea.cwppartner-input-style {
            height: 128px;
            margin-top: 14px;
            font-size: 14px;
        }
    .cwppartner-form-btn-box {
        margin-top: 18px;
    }
    a.cwppartner-btn,
    .cwppartner-btn {
        min-width: 178px;
        font-size: 17px;
        line-height: 1;
        padding: 19px 23px;
    }
    .cwppartner-popup-img-wrap {
        padding-bottom: 140%;
    }
    .cwppartner-landing-sidebar {
        width: 255px;
        margin-right: 20px;
    }
    .cwppartner-landing-slider {
        width: -webkit-calc(100% - 275px);
        width: calc(100% - 275px);
    }
    .cwppartner-landing-sidebar .cwppartner-box-title {
        padding: 23px 80px 0 34px;
        font-size: 10px;
    }
    .cwppartner-time-title {
        max-width: 135px;
        margin-bottom: 5px;
        font-size: 30px;
    }
    .cwppartner-time-text {
        font-size: 12px;
    }
    .cwppartner-times-list > li {
        padding: 29px 40px 29px 34px;
    }
    .cwppartner-date-icon {
        width: 22px;
        top: 31px;
        right: 28px;
    }
    .cwppartner-times-notes * {
        font-size: 12px;
    }
    .cwppartner-times-notes {
        /*padding: 22px 32px 26px 32px;*/
    }
    .cwppartner-times-notes > *:not(:last-child) {
        margin-bottom: 12px;
    }
    .cwppartner-handcrafted-box {
        font-size: 100px;
    }
}

@media all and (max-width: 1024px) {
    .cwppartner-showroom-list > li {
        width: 32%;
        width: -webkit-calc(33.33% - 4px);
        width: calc(33.33% - 4px);
    }
    .cwppartner-section-contact:after {
        left: 50%;
    }
        .cwppartner-contact-left-box {
            width: 50%;
            max-width: 100%;
            padding-right: 40px;
        }
        .cwppartner-contact-right-box {
            width: 50%;
            padding-left: 40px;
        }
            .cwppartner-all-people-list {
                max-width: 100%;
            }
    .cwppartner-popup-img-wrap {
        padding-bottom: 190%;
    }
    .cwppartner-popup-right-box {
        padding-left: 40px;
    }
    .cwppartner-popup-content-box {
        padding-right: 25px;
    }
    .without-image .cwppartner-popup-right-box {
        padding-left: 80px;
    }
    .cwppartner-popup-content-box {
        padding-right: 80px;
    }
    .cwppartner-landing-wrap {
        display: table;
        width: 100%;
    }
    .cwppartner-landing-sidebar,
    .cwppartner-landing-slider {
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .cwppartner-landing-sidebar .cwppartner-box-title {
        margin-bottom: 2px;
        padding-top: 19px;
        padding-left: 28px;
    }
    .cwppartner-landing-sidebar {
        display: table-header-group;
        /*padding-bottom: 20px;*/
    }
    .cwppartner-landing-slider {
        display: table-cell;
        padding-top: 20px;
    }
    .cwppartner-times-list {
        margin-top: 0;
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 20px;
    }
        .cwppartner-times-list > li {
            display: table-cell;
            padding: 24px 28px 10px 28px;
            border-bottom: none;
            border-right: 1px solid #e1e1e1;
        }
        .cwppartner-times-list > li:last-child {
            border: none;
        }
            .cwppartner-time-title {
                max-width: 110px;
                margin-bottom: 2px;
                font-size: 26px;
            }
            .cwppartner-landing-sidebar {
                right: 10px;
            }
            .cwppartner-times-notes {
                margin-top: -15px;
            }
    .cwppartner-slider-arrow {
        width: 70px;
    }
        .cwppartner-slider-arrow:after {
            width: 35px;
            height: 59px;
        }
        .cwppartner-date-icon {
            right: 37px;
            top: 24px;
            width: 19px;
        }
    .cwppartner-handcrafted-box {
        bottom: -220px;
        left: 50%;
    }
}

@media all and (max-width: 768px) {
    .cwppartner-container {
        padding: 0 15px;
    }
    .cwppartner-select {
        text-transform: initial;
    }
    .cwppartner-section-showroom .cwppartner-showroom-left-box,
    .cwppartner-section-showroom .cwppartner-showroom-right-box {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 0;
        text-align: left;
    }
    .cwppartner-section-showroom .cwppartner-showroom-left-box {
        padding-left: 5px;
    }
    .cwppartner-section-showroom .cwppartner-showroom-right-box {
        margin-bottom: 19px;
    }
        .cwppartner-section-showroom .cwppartner-showroom-right-box .cwppartner-filter-title {
            display: none;
        }
        .cwppartner-section-title {
            margin-bottom: 11px;
            font-size: 25px;
        }
        .cwppartner-select-wrap {
            max-width: 100%;
        }
    .cwppartner-showroom-list {
        margin: 0 -5px -44px;
    }
        .cwppartner-showroom-list > li {
            width: 49%;
            width: -webkit-calc(50% - 4px);
            width: calc(50% - 4px);
            padding: 0 5px;
            margin-bottom: 38px;
        }
            .cwppartner-showroom-img-wrap {
                margin-bottom: 5px;
            }
            .cwppartner-showroom-title {
                font-size: 15px;
                word-spacing: 0;
            }
    .cwppartner-section-contact:after {
        content: none;
    }
        .cwppartner-contact-left-box,
        .cwppartner-contact-right-box {
            float: none;
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
        .cwppartner-contact-left-box {
            margin-bottom: 60px;
        }
            .cwppartner-box-title {
                font-size: 14px;
            }
            .cwppartner-all-people-list {
                padding-top: 0;
            }
                .cwppartner-people-list > li a:after {
                    right: 6px;
                }
                .cwppartner-people-list > li a:hover:after,
                .cwppartner-people-list > li a:focus:after {
                    right: 12px;
                }
                .cwppartner-people-table {
                    padding: 14px 40px 13px 0;
                }
                    .cwppartner-people-img-cell {
                        width: 63px;
                    }
                        .cwppartner-img-wrap {
                            width: 46px;
                            height: 46px;
                        }
                        .cwppartner-people-name {
                            font-size: 17px;
                        }
                        .cwppartner-people-position {
                            font-size: 13px;
                        }
            .cwppartner-contact-right-box .cwppartner-box-title {
                margin-bottom: 14px;
            }
    .cwppartnerform-list > li:not(:last-child) {
        margin-bottom: 9px;
    }
        .cwppartner-form {
            max-width: 100%;
        }
            .cwppartner-input-style {
                min-height: 46px;
                padding: 20px 15px 5px;
                font-size: 16px;
                letter-spacing: -.02em;
            }
            .cwppartner-form .cwppartner-select-wrap,
            .cwppartner-form .cwppartner-input-style {
                max-width: 100%;
            }
            .cwppartner-label-effect ~ label {
                font-size: 16px;
                letter-spacing: -.02em;
            }
            .cwppartner-label-effect:focus ~ label,
            .has-content.cwppartner-label-effect ~ label {
                top: 10px;
            }
            .cwppartner-form .cwppartner-select {
                min-height: 46px;
                font-size: 16px;
            }
            .cwppartner-form .cwppartner-select option {
                font-size: 16px;
            }
            .cwppartner-form .cwppartner-select-wrap:before {
                right: 16px;
            }
            .cwppartner-form .cwppartner-select-wrap:after {
                height: 44px;
                width: 44px;
            }
            .cwppartner-form textarea.cwppartner-input-style {
                margin-top: 13px;
                height: 120px;
            }
        .cwppartner-form-btn-box {
            margin-top: 18px;
        }
            a.cwppartner-btn,
            .cwppartner-btn {
                min-width: 166px;
                padding: 17px 23px;
                font-size: 16px;
            }
    .cwppartner-popup-box {
        max-width: initial;
        max-height: 100%;
        overflow-y: scroll;
        padding: 0;
    }
        a.cwppartner-popup-close-btn,
        .cwppartner-popup-close-btn {
            top: 10px;
            right: 10px;
            width: 36px;
            height: 36px;
            background-color: #000000;
        }
        a.cwppartner-popup-close-btn:after,
        .cwppartner-popup-close-btn:after,
        a.cwppartner-popup-close-btn:before,
        .cwppartner-popup-close-btn:before {
            width: 22px;
            background-color: #505050;
        }
        a.cwppartner-popup-close-btn:hover:after,
        .cwppartner-popup-close-btn:hover:after,
        a.cwppartner-popup-close-btn:focus:after,
        .cwppartner-popup-close-btn:focus:after,
        a.cwppartner-popup-close-btn:hover:before,
        .cwppartner-popup-close-btn:hover:before,
        a.cwppartner-popup-close-btn:focus:before,
        .cwppartner-popup-close-btn:focus:before {
            background-color: #ffffff;
        }
        .without-image a.cwppartner-popup-close-btn,
        .without-image .cwppartner-popup-close-btn {
            background-color: transparent;
        }
        .without-image a.cwppartner-popup-close-btn:after,
        .without-image .cwppartner-popup-close-btn:after,
        .without-image a.cwppartner-popup-close-btn:before,
        .without-image .cwppartner-popup-close-btn:before {
            background-color: #595959;
        }
        .without-image a.cwppartner-popup-close-btn:hover:after,
        .without-image .cwppartner-popup-close-btn:hover:after,
        .without-image a.cwppartner-popup-close-btn:focus:after,
        .without-image .cwppartner-popup-close-btn:focus:after,
        .without-image a.cwppartner-popup-close-btn:hover:before,
        .without-image .cwppartner-popup-close-btn:hover:before,
        .without-image a.cwppartner-popup-close-btn:focus:before,
        .without-image .cwppartner-popup-close-btn:focus:before {
            background-color: #000000;
        }
        .cwppartner-popup-inner-box {
            overflow: initial;
            max-height: initial;
        }
        .cwppartner-popup-left-box,
        .cwppartner-popup-right-box {
            float: none;
            width: 100%;
            max-height: initial;
        }
        .without-image .cwppartner-popup-right-box {
            padding-top: 80px;
            padding-left: 20px;
        }
        .cwppartner-popup-right-box {
            padding: 28px 20px 20px 20px;
        }
            .cwppartner-popup-img-wrap {
                padding-bottom: 100%;
            }
            .cwppartner-popup-content-box {
                max-height: initial;
                padding-top: 24px;
                padding-right: 0;
            }
            .cwppartner-popup-title {
                margin-bottom: -7px;
                font-size: 24px;
            }
            .cwppartner-popup-person-position {
                margin-left: 1px;
                font-size: 14px;
            }
            .cwppartner-popup-person-info-box {
                margin-bottom: 19px;
            }
                .cwppartner-popup-person-info-label {
                    margin-bottom: -1px;
                    font-size: 10px;
                    letter-spacing: .08em;
                }
                .cwppartner-popup-box .cwppartner-popup-person-info-box a {
                    font-size: 16px;
                }
            .cwppartner-popup-person-info-box + .cwppartner-popup-content {
                margin-top: 35px;
            }
            .cwppartner-popup-content {
                margin-left: 0;
            }
            .cwppartner-popup-content * {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 1.4;
            }
            .cwppartner-popup-content blockquote {
                max-width: 90%;
            }
    .cwppartner-section-landing .cwppartner-container {
        padding: 0;
    }
        .cwppartner-landing-wrap,
        .cwppartner-landing-sidebar,
        .cwppartner-landing-slider {
            display: block;
        }
            .cwppartner-slide img {
                display: none;
            }
            .cwppartner-slide .cwppartner-mobile {
                display: inline-block;
            }
        .cwppartner-times-list {
            display: block;
        }
            .cwppartner-times-list > li {
                display: block;
            }
                .cwppartner-landing-sidebar .cwppartner-box-title {
                    font-size: 14px;
                }
                .cwppartner-time-title {
                    margin-bottom: 10px;
                    font-size: 42px;
                }
                .cwppartner-times-notes *,
                .cwppartner-time-text {
                    font-size: 16px;
                }
            .cwppartner-landing-sidebar .cwppartner-box-title {
                padding-top: 32px;
                padding-left: 46px;
            }
            .cwppartner-date-icon {
                top: 36px;
                right: 35px;
                width: 32px;
            }
            .cwppartner-times-list > li {
                padding: 36px 45px 36px 45px;
                border: none;
                border-bottom: 1px solid #e1e1e1;
            }
            .cwppartner-slider-arrow {
                width: 60px;
            }
            .cwppartner-slider-arrow:after {
                width: 18px;
                height: 30px;
            }
    .cwppartner-handcrafted-box {
        display: none;
    }
}