/*----------------------------------------------------------------------------------*/
/*-------------------------------------FORM-----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.cwppartner-input-style {
    display: block;
    width: 100%;
    min-height: 57px;
    margin: 0;
    padding: 28px 20px 8px;
    border: 1px solid #b3b3b3;
    box-shadow: none;
    font: 600 16px/1 "Proximanova", Arial, sans-serif;
    letter-spacing: -.01em;
    color: #505050;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

textarea.cwppartner-input-style {
    overflow-y: auto;
    font: 600 16px/1.45 "Proximanova", Arial, sans-serif;
    padding: 28px 20px 8px;
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #b3b3b3;
    color: #505050;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.cwppartner-input-effect {
    position: relative;
}
.cwppartner-label-effect ~ label {
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 22px;
    font: 400 16px/1 "Proximanova", Arial, sans-serif;
    color: #a7a7a7;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    /*z-index: -1;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cwppartner-label-effect:focus ~ label,
.has-content.cwppartner-label-effect ~ label {
    top: 13px;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.cwppartner-container {
    max-width: 1670px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
    .cwppartner-select-wrap {
        position: relative;
        display: inline-block;
        max-width: 296px;
        width: 100%;
    }
    .cwppartner-select-wrap:after {
        position: absolute;
        content: '';
        z-index: 98;
        width: 50px;
        height: 43px;
        right: 1px;
        top: 1px;
        background: #ffffff;
        pointer-events: none;
    }
    .cwppartner-select-wrap:before {
        position: absolute;
        content: '';
        z-index: 99;
        right: 22px;
        top: 12px;
        width: 13px;
        height: 13px;
        border: 1px solid #acacac;
        border-top: none;
        border-right: none;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: 0.35s;
        -moz-transition: 0.35s;
        -o-transition: 0.35s;
        transition: 0.35s;
        pointer-events: none;
    }
    .cwppartner-select-wrap.open:before {
        top: 20px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
        .cwppartner-select {
            min-height: 45px;
            padding: 10px 30px 10px 20px;
            width: 100%;
            font-size: 16px;
            font-family: "Proximanova", Arial, sans-serif;
            font-weight: 400;
            line-height: 1;
            letter-spacing: .02em;
            word-spacing: .04em;
            text-transform: uppercase;
            border: 1px solid #acacac;
            background-color: #ffffff;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            color: #505050;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
        }
        .cwppartner-select option {
            font-family: "Proximanova", Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
        }

a.cwppartner-btn,
.cwppartner-btn {
    position: relative;
    display: inline-block;
    min-width: 208px;
    padding: 22px 50px 22px 27px;
    font: 600 20px/1 "Proximanova", Arial, sans-serif;
    letter-spacing: .08em;
    text-align: left;
    color: #ffffff;
    background-color: #383838;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
a.cwppartner-btn:hover,
a.cwppartner-btn:focus,
.cwppartner-btn:hover,
.cwppartner-btn:focus {
    background-color: #000000;
}
    /*----------------------------------------------------------------------------------*/
/*-------------------------------------SHOWROOM-------------------------------------*/
/*----------------------------------------------------------------------------------*/
.cwppartner-section-showroom {
    padding: 90px 0;
    background-color: #ffffff;
}
    .cwppartner-section-header-box {
        overflow: hidden;
    }
        .cwppartner-section-showroom .cwppartner-showroom-left-box {
            float: left;
            padding: 9px 15px 0 0;
            max-width: 70%;
            max-width: -webkit-calc(100% - 400px);
            max-width: calc(100% - 400px);
        }
        .cwppartner-section-showroom .cwppartner-showroom-right-box {
            float: right;
            margin-bottom: 40px;
            padding-left: 15px;
            text-align: right;
            max-width: 400px;
            width: 100%;
        }
            .cwppartner-section-title {
                margin-bottom: 34px;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: .05em;
                word-spacing: .1em;
                text-transform: uppercase;
            }
            .cwppartner-filter-title {
                padding-right: 10px;
                letter-spacing: .01em;
                text-transform: uppercase;
            }
    .cwppartner-showroom-list {
        overflow: hidden;
        width: 100%;
        width: -webkit-calc(100% + 8px);
        width: calc(100% + 8px);
        margin: 0 -3px -44px;
        text-align: left;
    }
        .cwppartner-showroom-list > li {
            display: inline-block;
            margin-bottom: 44px;
            padding: 0 3px;
            width: 19%;
            width: -webkit-calc(20% - 4px);
            width: calc(20% - 4px);
            vertical-align: top;
        }
            .cwppartner-showroom-list > li a {
                text-decoration: none;
            }
            .cwppartner-showroom-list > li a:hover,
            .cwppartner-showroom-list > li a:focus {
                text-decoration: none;
            }
                .cwppartner-showroom-list > li a span {
                    display: block;
                }
                .cwppartner-showroom-item {
                    text-align: left;
                }
                    .cwppartner-showroom-img-wrap {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        padding-bottom: 100%;
                        margin-bottom: 6px;
                    }
                        .cwppartner-showroom-img-wrap img {
                            position: absolute;
                            display: block;
                            width: auto;
                            height: auto;
                            min-width: 100%;
                            min-height: 100%;
                            max-width: 100%;
                            top: -9999px;
                            left: -9999px;
                            right: -9999px;
                            bottom: -9999px;
                            margin: auto;
                            -webkit-transform-origin: 50% 50%;
                            -moz-transform-origin: 50% 50%;
                            -o-transform-origin: 50% 50%;
                            -ms-transform-origin: 50% 50%;
                            transform-origin: 50% 50%;
                            -webkit-transition: 0.35s;
                            -moz-transition: 0.35s;
                            -o-transition: 0.35s;
                            transition: 0.35s;
                        }
                        .cwppartner-showroom-img-wrap.wide img {
                            max-height: 100%;
                            max-width: none;
                        }
                    .cwppartner-showroom-title {
                        letter-spacing: -.03em;
                        word-spacing: .07em;
                    }
                        .cwppartner-showroom-list > li a:hover img,
                        .cwppartner-showroom-list > li a:focus img {
                            -moz-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -o-transform: scale(1.1);
                            transform: scale(1.1);
                        }
                        .cwppartner-showroom-list > li a:hover .cwppartner-showroom-title,
                        .cwppartner-showroom-list > li a:focus .cwppartner-showroom-title {
                            color: #000000;
                        }
/*----------------------------------------------------------------------------------*/
/*--------------------------------------CONTACT-------------------------------------*/
/*----------------------------------------------------------------------------------*/
.cwppartner-section-contact {
    position: relative;
    padding: 90px 0;
    background-color: #e7e7e7;
}
.cwppartner-section-contact:after {
    position: absolute;
    content: '';
    left: 54.5%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #BDBDBD;
}
    .cwppartner-section-contact .cwppartner-container {
        overflow: hidden;
    }
        .cwppartner-contact-left-box,
        .cwppartner-contact-right-box {
            float: left;
        }
        .cwppartner-contact-left-box {
            width: 55%;
            padding-right: 90px;
            /*background-color: green;*/
        }
        .cwppartner-contact-right-box {
            width: 44.8%;
            padding-left: 90px;
        }
            .cwppartner-box-title {
                margin-bottom: 18px;
                font-weight: 600;
                letter-spacing: .06em;
                text-transform: uppercase;
            }
            .cwppartner-all-people-list {
                padding-top: 28px;
                margin: 0 -45px;
                max-width: 865px;
            }
                .cwppartner-all-people-list > li {
                    display: inline-block;
                    width: 49%;
                    width: -webkit-calc(50% - 4px);
                    width: calc(50% - 4px);
                    padding: 0 45px;
                    vertical-align: top;
                }
                    .cwppartner-people-list {}
                        .cwppartner-people-list > li {
                            border-bottom: 1px solid #B8B8B8;
                        }
                            .cwppartner-people-list > li a {
                                position: relative;
                                display: block;
                                text-decoration: none;
                            }
                            .cwppartner-people-list > li a:hover,
                            .cwppartner-people-list > li a:focus {
                                text-decoration: none;
                            }
                            .cwppartner-people-list > li a:after {
                                position: absolute;
                                content: '';
                                top: 50%;
                                right: 16px;
                                width: 12px;
                                height: 12px;
                                border: 1px solid #7e7e7e;
                                border-bottom: none;
                                border-left: none;
                                -webkit-transform: translateY(-50%) rotate(45deg);
                                -moz-transform: translateY(-50%) rotate(45deg);
                                -ms-transform: translateY(-50%) rotate(45deg);
                                -o-transform: translateY(-50%) rotate(45deg);
                                transform: translateY(-50%) rotate(45deg);
                                -webkit-transition: 0.35s;
                                -moz-transition: 0.35s;
                                -o-transition: 0.35s;
                                transition: 0.35s;
                            }
                            .cwppartner-people-list > li a:hover:after,
                            .cwppartner-people-list > li a:focus:after {
                                right: 10px;
                            }
                                .cwppartner-people-table {
                                    overflow: hidden;
                                    display: table;
                                    width: 100%;
                                    padding: 15px 40px 15px 0;
                                }
                                    .cwppartner-people-img-cell {
                                        display: table-cell;
                                        width: 75px;
                                    }
                                        .cwppartner-img-wrap {
                                            overflow: hidden;
                                            position: relative;
                                            float: left;
                                            width: 55px;
                                            height: 55px;
                                            background-color: #d6d6d6;
                                        }
                                            .cwppartner-img-wrap img {
                                                position: absolute;
                                                display: block;
                                                width: auto;
                                                height: auto;
                                                min-width: 100%;
                                                min-height: 100%;
                                                max-width: 100%;
                                                top: -9999px;
                                                left: -9999px;
                                                right: -9999px;
                                                bottom: -9999px;
                                                margin: auto;
                                            }
                                            .cwppartner-img-wrap.wide img {
                                                max-height: 100%;
                                                max-width: none;
                                            }
                                    .cwppartner-people-info-cell {
                                        display: table-cell;
                                    }
                                    .cwppartner-people-img-cell,
                                    .cwppartner-people-info-cell {
                                        vertical-align: middle;

                                    }
                                        .cwppartner-people-info-cell span {
                                            display: block;
                                        }
                                        .cwppartner-people-name {
                                            margin-bottom: 1px;
                                            padding-top: 4px;
                                            font-size: 20px;
                                            font-weight: 700;
                                            line-height: 1.2;
                                            letter-spacing: .02em;
                                            word-spacing: .02em;
                                            text-transform: uppercase;
                                        }
                                        .cwppartner-people-position {
                                            font-size: 14px;
                                            line-height: 1.2;
                                        }
            .cwppartner-form {
                max-width: 503px;
                /*margin: 0 auto;*/
            }
                .cwppartnerform-list {}
                    .cwppartnerform-list > li:not(:last-child) {
                        margin-bottom: 12px;
                    }
                        .cwppartner-form .cwppartner-select-wrap,
                        .cwppartner-form .cwppartner-input-style {
                            max-width: 426px;
                        }
                        .cwppartner-form .cwppartner-select-wrap:before {
                            top: 20px;
                            right: 24px;
                        }
                        .cwppartner-form .cwppartner-select-wrap.open:before {
                            top: 26px;
                        }
                        .cwppartner-form .cwppartner-select-wrap:after {
                            height: 55px;
                            width: 55px;
                        }
                            .cwppartner-form .cwppartner-select {
                                min-height: 57px;
                                padding-left: 20px;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                color: #a7a7a7;
                                letter-spacing: -.02em;
                                word-spacing: 0;
                                text-transform: none;
                            }
                            .cwppartner-form .cwppartner-select.selected {
                                font-weight: 700;
                                color: #505050;
                            }
                        .cwppartner-form textarea.cwppartner-input-style {
                            max-width: 100%;
                            margin-top: 16px;
                        }
                .cwppartner-form-btn-box {
                    margin-top: 22px;
                }
.cwppartner-fixed {
    overflow: hidden;
}
    .cwppartner-popup-overlay.show {
        display: block;
    }
    .cwppartner-popup-overlay {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        background-color: rgba(0, 0, 0, .83);
    }
        .cwppartner-popup-box {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 720px;
            max-width: 1402px;
            max-height: 100%;
            padding: 20px;
            background-color: transparent;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .without-image .cwppartner-popup-box {
            max-width: 872px;
        }
            a.cwppartner-popup-close-btn,
            .cwppartner-popup-close-btn {
                overflow: hidden;
                position: absolute;
                z-index: 20;
                right: 42px;
                top: 49px;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            a.cwppartner-popup-close-btn:after,
            .cwppartner-popup-close-btn:after,
            a.cwppartner-popup-close-btn:before,
            .cwppartner-popup-close-btn:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                width: 36px;
                height: 2px;
                background-color: #595959;
                -webkit-transition: 0.35s;
                -moz-transition: 0.35s;
                -o-transition: 0.35s;
                transition: 0.35s;
            }
            a.cwppartner-popup-close-btn:after,
            .cwppartner-popup-close-btn:after {
                 -webkit-transform: translate(-50%, -50%) rotate(45deg);
                -moz-transform: translate(-50%, -50%) rotate(45deg);
                -ms-transform: translate(-50%, -50%) rotate(45deg);
                -o-transform: translate(-50%, -50%) rotate(45deg);
                transform: translate(-50%, -50%) rotate(45deg);
            }
            a.cwppartner-popup-close-btn:before,
            .cwppartner-popup-close-btn:before {
                 -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                -moz-transform: translate(-50%, -50%) rotate(-45deg);
                -ms-transform: translate(-50%, -50%) rotate(-45deg);
                -o-transform: translate(-50%, -50%) rotate(-45deg);
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            a.cwppartner-popup-close-btn:hover:after,
            .cwppartner-popup-close-btn:hover:after,
            a.cwppartner-popup-close-btn:focus:after,
            .cwppartner-popup-close-btn:focus:after,
            a.cwppartner-popup-close-btn:hover:before,
            .cwppartner-popup-close-btn:hover:before,
            a.cwppartner-popup-close-btn:focus:before,
            .cwppartner-popup-close-btn:focus:before {
                background-color: #000000;
            }
            .cwppartner-popup-inner-box {
                overflow: hidden;
                max-height: 100%;
                background-color: #ffffff;
            }
                .cwppartner-popup-left-box,
                .cwppartner-popup-right-box {
                    float: left;
                    width: 50%;
                    max-height: 680px;
                }
                .cwppartner-popup-right-box {
                    padding: 70px 25px 0 80px;
                    /*overflow-x: auto;*/
                }
                    .without-image .cwppartner-popup-left-box {
                        display: none;
                    }
                    .without-image .cwppartner-popup-right-box {
                        float: none;
                        width: 100%;
                    }
                    .cwppartner-popup-img-wrap {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        padding-bottom: 100%;
                        background-color: #D6D6D6;
                    }
                        .cwppartner-popup-img-wrap img {
                            position: absolute;
                            z-index: 10;
                            display: block;
                            width: auto;
                            height: auto;
                            min-width: 100%;
                            min-height: 100%;
                            max-width: 100%;
                            top: -9999px;
                            left: -9999px;
                            right: -9999px;
                            bottom: -9999px;
                            margin: auto;
                        }
                        .cwppartner-popup-img-wrap.wide img {
                            max-height: 100%;
                            max-width: none;
                        }
                    .cwppartner-popup-content-box {
                        overflow-y: auto;
                        max-height: 540px;
                        padding: 25px 50px 80px 0;
                    }
                        .cwppartner-popup-header-box {
                            margin-bottom: 0;
                            padding-bottom: 20px;
                        }
                            .cwppartner-popup-title {
                                margin-bottom: -2px;
                                font-size: 36px;
                                font-weight: 700;
                                line-height: 1.2;
                                letter-spacing: .03em;
                                text-transform: uppercase;
                            }
                            .cwppartner-popup-person-position {
                                margin-bottom: 10px;
                                font-size: 18px;
                                line-height: 1.2;
                                letter-spacing: -.01em;
                                word-spacing: .02em;
                            }
                        .cwppartner-popup-person-info-box {
                            margin-left: 2px;
                            margin-bottom: 20px;
                        }
                            .cwppartner-popup-person-info-label {
                                display: block;
                                margin-bottom: 5px;
                                font-size: 12px;
                                line-height: 1.2;
                                letter-spacing: .04em;
                                text-transform: uppercase;
                            }
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a {
                                position: relative;
                                font-size: 18px;
                                line-height: 1.2;
                                letter-spacing: -.02em;
                                text-decoration: none;
                            }
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a:after {
                                position: absolute;
                                content: '';
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 1px;
                                background-color: #505050;
                                -webkit-transition: 0.35s;
                                -moz-transition: 0.35s;
                                -o-transition: 0.35s;
                                transition: 0.35s;
                            }
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a[href^="tel:"]:after {
                                content: none;
                            }
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a:hover:after,
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a:focus:after {
                                opacity: 0;
                            }
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a:hover,
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a:focus {
                                color: #000000;
                                text-decoration: none;
                            }
                            .cwppartner-popup-box .cwppartner-popup-person-info-box a[href^="tel:"] {
                                text-decoration: none;
                                cursor: default;
                            }
                            .cwppartner-popup-person-info-box + .cwppartner-popup-content {
                                margin-top: 34px;
                            }
                            .without-image .cwppartner-popup-content {
                                max-width: 680px;
                            }
                            .cwppartner-popup-content {
                                margin-left: 1px;
                            }
                            .cwppartner-popup-content * {
                                margin-bottom: 25px;
                                font-size: 18px;
                                letter-spacing: -.01em;
                                word-spacing: -.01em;
                            }
                            .cwppartner-popup-content > *:last-child {
                                margin-bottom: 0;
                            }
                            .cwppartner-popup-content h1, .cwppartner-popup-content .h1style,
                            .cwppartner-popup-content h2, .cwppartner-popup-content .h2style,
                            .cwppartner-popup-content h3, .cwppartner-popup-content .h3style,
                            .cwppartner-popup-content h4, .cwppartner-popup-content .h4style,
                            .cwppartner-popup-content h5, .cwppartner-popup-content .h5style,
                            .cwppartner-popup-content h6, .cwppartner-popup-content .h6style {
                                margin-bottom: 7px;
                                font-size: 34px;
                                font-weight: 700;
                                line-height: 1.2;
                            }
                            .cwppartner-popup-content h2, .cwppartner-popup-content .h2style { font-size: 32px; }
                            .cwppartner-popup-content h3, .cwppartner-popup-content .h3style { font-size: 28px; }
                            .cwppartner-popup-content h4, .cwppartner-popup-content .h4style { font-size: 24px; }
                            .cwppartner-popup-content h5, .cwppartner-popup-content .h5style { font-size: 20px; }
                            .cwppartner-popup-content h6, .cwppartner-popup-content .h6style { font-size: 18px; }
                            .cwppartner-popup-content ul > li {
                                position: relative;
                                padding-left: 26px;
                                margin-bottom: 10px;
                            }
                            .cwppartner-popup-content ul > li:before {
                                position: absolute;
                                content: '';
                                width: 4px;
                                height: 4px;
                                left: 2px;
                                top: 11px;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                border: 1px solid #505050;
                                background-color: transparent;
                            }
                            .cwppartner-popup-content ol {
                                counter-reset: myCounter;
                                /*margin-bottom: 36px;*/
                            }
                            .cwppartner-popup-content ol > li {
                                position: relative;
                                margin-bottom: 10px;
                                padding-left: 26px;
                            }
                            .cwppartner-popup-content ol > li:before {
                                position: absolute;
                                counter-increment: myCounter;
                                content: counter(myCounter) ".";
                                left: 2px;
                                top: 0;
                                font-size: 18px;
                                color: #505050;
                            }
                            .cwppartner-popup-content blockquote {
                                max-width: 80%;
                                margin: 0 auto;
                                padding-left: 10px;
                                border-left: 2px solid #505050;
                            }
                            .cwppartner-popup-content a {
                                text-decoration: underline;
                            }
                            .cwppartner-popup-content a:hover,
                            .cwppartner-popup-content a:focus {
                                color: #000000;
                                text-decoration: none;
                            }
                            .cwppartner-popup-content img {
                                display: block;
                                max-width: 100%;
                                margin: 0 auto 25px;
                            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------LANDING--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.cwppartner-section-landing {
    overflow: hidden;
    position: relative;
    padding: 90px 0 340px;
}
.cwppartner-section-landing:after {
    position: absolute;
    z-index: 5;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3a3a3a;
    background-color: rgba(0, 0, 0, .76);
}
    .cwppartner-section-landing .cwppartner-container {
        position: relative;
        max-width: 1862px;
        padding: 0 35px;
    }
        .cwppartner-landing-wrap {
            overflow: hidden;
            position: relative;
            z-index: 10;
        }
            .cwppartner-landing-slider {
                float: right;
                width: 78%;
                width: -webkit-calc(100% - 390px);
                width: calc(100% - 390px);
            }
                .cwppartner-slider-wrapper {
                    position: relative;
                }
                    .cwppartner-slide {
                        position: relative;
                        z-index: 20;
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                        .cwppartner-slide img {
                            display: inline-block;
                            max-width: 100%;
                            height: auto;
                        }

                    .slide002,
                    .cwppartner-slide .cwppartner-mobile {
                        display: none;
                    }
                    .cwppartner-slider-arrow {
                        position: absolute;
                        z-index: 30;
                        top: 0;
                        width: 118px;
                        height: 100%;
                    }
                    .cwppartner-slider-arrow:after {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 50%;
                        width: 71px;
                        height: 118px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        -webkit-transition: 0.35s;
                        -moz-transition: 0.35s;
                        -o-transition: 0.35s;
                        transition: 0.35s;
                    }
                    .cwppartner-slider-arrow.prev-slide {
                        left: 0;
                    }
                    .cwppartner-slider-arrow.next-slide {
                        right: 0;
                    }
                    .cwppartner-slider-arrow.prev-slide:hover:after,
                    .cwppartner-slider-arrow.prev-slide:focus:after {
                        left: 45%;
                    }
                    .cwppartner-slider-arrow.next-slide:hover:after,
                    .cwppartner-slider-arrow.next-slide:focus:after {
                        left: 55%;
                    }
                    .cwppartner-slider-arrow.prev-slide:after {
                        background-image: url("../img/arrow-left@2x.png");
                    }
                    .cwppartner-slider-arrow.next-slide:after {
                        background-image: url("../img/arrow-right@2x.png");
                    }
            .cwppartner-landing-sidebar {
                float: left;
                width: 22%;
                width: 352px;
                margin-right: 36px;
                background-color: #ffffff;
            }
                .cwppartner-landing-sidebar .cwppartner-box-title {
                    display: block;
                    margin-bottom: 0;
                    padding: 33px 80px 0 46px;
                    font-size: 14px;
                    letter-spacing: .1em;
                }
                .cwppartner-times-list {
                    margin-top: -2px;
                }
                    .cwppartner-times-list > li {
                        position: relative;
                        padding: 39px 80px 39px 45px;
                        border-bottom: 1px solid #e1e1e1;
                    }
                        .cwppartner-time-title {
                            max-width: 180px;
                            margin-bottom: 10px;
                            font-size: 42px;
                            font-weight: 400;
                            line-height: .8;
                        }
                        .cwppartner-time-text {
                            font-size: 14px;
                            word-spacing: .08em;
                        }
                        .cwppartner-date-icon {
                            position: absolute;
                            top: 40px;
                            right: 36px;
                            width: 32px;
                        }
                .cwppartner-times-notes {
                    /*padding: 35px 54px 46px 46px;*/
                }
                .cwppartner-times-notes > * {
                    font-size: 14px;
                }
                .cwppartner-times-notes > *:not(:last-child) {
                    margin-bottom: 20px;
                }
    .cwppartner-landing-slider {
        position: relative;
    }
        .cwppartner-handcrafted-box {
            position: absolute;
            z-index: 2;
            left: 56.5%;
            bottom: -295px;
            max-width: 600px;
            font: 120px/0.9 "BodoniBT-Book", Arial, sans-serif;
            color: #313131;
            text-align: center;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            opacity: .3;
        }